:root {
  --bd-purple: #63f;
  --triade-2: #c2000f;
  --white: white;
  --black: black;
  --lighter-gray: #cacaca;
  --monochromatic-1: #a6a6ff;
  --light-gray: #9c9c9c;
  --monochromatic-2: #d4d4ff;
  --blue-violet: #6e2ed8;
  --dim-grey: #6b6b6b;
  --663399: #602bb6;
  --deep-pink: #fc0a7e;
  --medium-violet-red: #b32e6e;
  --medium-slate-blue: #955df1;
  --analogic-1: #00e3eb;
  --analogic-2: #8733ff;
  --triade-1: #3838b2;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10vh;
  font-weight: 700;
  line-height: 10vh;
}

h2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  color: #6b6b6b;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

h4 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

p {
  color: #6b6b6b;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: #000;
  text-decoration: underline;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

blockquote {
  border-left: 5px solid var(--bd-purple);
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

.section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 25vh;
  padding-bottom: 25vh;
  display: flex;
}

.section.center {
  -webkit-text-fill-color: inherit;
  background-color: #000;
  background-image: radial-gradient(circle farthest-side at 100% 100%, #63f6, #2a1569 30%, #1d0e48 46%, #0e0724 68%, #000);
  background-clip: border-box;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 0;
  display: flex;
}

.section.center.no-background {
  background-color: #0000;
  background-image: none;
}

.section.about-us {
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}

.section.contact-section {
  padding-top: 0;
  padding-bottom: 25vh;
}

.nav-section {
  z-index: 999999;
  pointer-events: none;
  background-color: #0000;
  border: 1px #000;
  width: 100%;
  height: auto;
  padding: 0 10vw 20px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  background-color: #0000;
  justify-content: space-between;
  align-items: center;
  height: auto;
  display: flex;
}

.nav-inner {
  border-bottom: 1px #ffffff1a;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-top: 25px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.body {
  background-color: #000;
}

.heading {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 10vh;
  font-weight: 500;
  line-height: 9vh;
}

.feature-content {
  border: 1px #000;
  flex: none;
  width: 50vw;
  max-width: 450px;
  padding-left: 4vw;
  padding-right: 4vw;
}

.feature-content.right {
  flex-flow: column;
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
}

.heading-2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 400;
}

.wrapper {
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 85%;
  max-width: 1200px;
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
}

.wrap {
  text-align: center;
  max-width: 1000px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link {
  pointer-events: auto;
  color: #fff;
  flex: 0 auto;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  color: #fff;
  box-shadow: inset 0 -5px #fff;
}

.nav-link:active {
  box-shadow: inset 0 -5px 0 0 var(--triade-2);
}

.hero-image {
  height: 85vh;
  margin-top: 0;
  padding-top: 60px;
  position: absolute;
  bottom: 0;
  right: 3vw;
}

.services-title {
  color: #000;
}

.services-title.heading {
  color: var(--white);
  align-self: center;
  max-width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0%;
  padding-right: 0;
  font-family: Generalsans, sans-serif;
  font-size: 4.5vh;
  font-weight: 400;
  line-height: 5vh;
}

.hero-content {
  z-index: 90;
  pointer-events: none;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: auto auto 0;
  padding-left: 10vw;
  padding-right: 10vh;
  display: flex;
  position: relative;
}

.feature-wrap {
  border: 1px #000;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.feature-wrap.reverse {
  flex-direction: row-reverse;
}

.hero-subhead {
  color: #fff;
  max-width: 60%;
  font-size: 30px;
  font-weight: 200;
  line-height: 44px;
}

.hero-subhead.contact-subhead {
  max-width: none;
}

.footer {
  background-color: var(--black);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-link {
  color: var(--lighter-gray);
  margin-left: 15px;
  margin-right: 15px;
  font-size: 15px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.footer-list {
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 29px;
  display: flex;
}

.arrow {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.nav-logo-wrap {
  flex-flow: column;
  flex: none;
  width: 200px;
  display: flex;
}

.image-licensing {
  background-color: #0000000d;
  border: 1px solid #0000001a;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  line-height: 24px;
}

.image-licensing-wrap {
  flex: 1;
  max-width: 600px;
}

.heading-3 {
  font-size: 8vh;
  font-weight: 300;
}

.hero-span {
  background-image: linear-gradient(91deg, #8b00ad, red);
  font-weight: 600;
  transition: opacity .5s;
}

.hero-span.clipped {
  background-image: linear-gradient(91deg, var(--bd-purple), var(--white));
}

.spline-scene {
  z-index: 1;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  position: absolute;
  inset: 0%;
}

.body-2 {
  background-color: var(--black);
  font-family: Poppins, sans-serif;
}

.monochromatic-1-text {
  color: var(--monochromatic-1);
}

.background-gradient {
  z-index: -1;
  pointer-events: none;
  position: fixed;
  inset: 0%;
}

.image-6 {
  width: auto;
  height: 25em;
}

.right {
  margin-left: auto;
}

.div-block-13 {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-left: -40%;
  display: flex;
}

.body-3 {
  background-color: #000;
}

.form-block-2 {
  text-align: left;
}

.form-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #888;
  grid-template: "."
                 "."
                 / .25fr .75fr;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  display: grid;
}

.contact-form-container {
  text-align: center;
  min-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.glowing {
  text-shadow: 0 0 10px #fff;
}

.textarea {
  resize: none;
  min-height: 100px;
  max-height: 200px;
}

.testimonial {
  background-image: radial-gradient(circle, #a850b830, #000 59%);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  margin-top: 0;
  padding-top: 11vh;
  padding-bottom: 40px;
  display: flex;
}

.testimonial-text {
  color: var(--lighter-gray);
  min-width: 50%;
  max-width: 70%;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.customers-wrapper {
  border: 2px solid var(--lighter-gray);
  border-radius: 20px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 1020px;
  height: 500px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 49px;
  display: flex;
  box-shadow: inset -5px -5px 50px -5px #a6a6ff3d, inset 10px 10px 50px -5px #a6a6ff2b;
}

.transition-gradient {
  z-index: 999;
  background-image: linear-gradient(180deg, var(--black), #fcfcfc00 99%);
  height: 150px;
  margin-bottom: -150px;
  position: relative;
}

.transition-gradient-copy {
  background-image: linear-gradient(0deg, #000, #fcfcfc00 99%, #fff0);
  height: 200px;
  margin-top: -200px;
}

.testimontal-text {
  color: var(--white);
  text-align: center;
  width: 60%;
  font-size: 20px;
}

.services-parag {
  color: var(--white);
  text-align: left;
  width: 420px;
  height: 210px;
  margin-top: 173px;
  margin-bottom: 0;
  font-size: 20px;
}

.bold {
  font-weight: 600;
}

.services {
  background-image: radial-gradient(circle closest-side, #5095b82e, #000 84%);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  margin-top: 0;
  padding-top: 11vh;
  padding-bottom: 0;
  display: flex;
}

.services-wrapper {
  border: 1px solid #a6a6ff78;
  border-radius: 20px;
  flex-flow: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 1020px;
  height: 500px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 83px 49px;
  display: flex;
  box-shadow: inset -5px -5px 50px -5px #91efff14, inset 10px 10px 50px -5px #a6f8ff14;
}

.div-block-14 {
  border-top: 1px solid var(--lighter-gray);
  justify-content: space-between;
  align-self: center;
  align-items: center;
  width: 90%;
  display: flex;
}

.footer-text {
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-block-3 {
  width: 100%;
}

.services-head {
  color: var(--white);
  width: 110%;
  font-size: 30px;
  line-height: 35px;
}

.services-subhead {
  color: var(--lighter-gray);
  width: 100%;
  margin-bottom: 0;
  font-family: Generalsans, sans-serif;
  font-size: 20px;
}

.services-parag-copy {
  color: var(--white);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 20px;
}

.tab-wrapper {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.agents-tabs {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  display: flex;
}

.tabs-menu {
  z-index: 999;
  border: 1px solid #d4d4ff87;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  margin-bottom: -145px;
  padding: 3px;
  display: flex;
}

.image-7 {
  width: 500px;
}

.tabs-content {
  width: 100%;
}

.tab-image-wrapper {
  border-radius: 20px;
  width: 45%;
  margin-top: 58px;
  overflow: hidden;
}

.media-top-wrapper {
  text-align: left;
  width: 420px;
  margin-left: auto;
}

.tab-button {
  color: var(--light-gray);
  background-color: #ddd0;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 400;
  transition: background-color .2s, color .2s cubic-bezier(.55, .055, .675, .19);
}

.tab-button:hover {
  color: #ffffffc4;
}

.tab-button.w--current {
  color: var(--lighter-gray);
  background-color: #4b474799;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.agents-top-wrapper {
  text-align: left;
  width: 420px;
  margin-left: 0;
  margin-right: auto;
}

.media-tabs {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
  display: flex;
}

.cloud-top {
  color: var(--monochromatic-2);
  letter-spacing: 3px;
  background-color: #ffffff1f;
  border-radius: 50px;
  max-width: none;
  margin-top: 14px;
  padding: 15px;
  font-size: 15px;
}

.tab-wrappe-img {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.services-btn {
  border: 1px solid var(--monochromatic-1);
  background-image: radial-gradient(circle farthest-corner at 50% 200%, var(--bd-purple), black);
  pointer-events: auto;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 0;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  transition: opacity .2s, background-color .5s cubic-bezier(.789, .159, .25, 1);
  display: inline-block;
}

.services-btn:hover {
  outline-offset: 0px;
  outline: 3px #fff;
}

.btn-div {
  grid-column-gap: 33px;
  grid-row-gap: 33px;
  justify-content: space-between;
  display: flex;
}

.code-embed {
  position: absolute;
}

.contact-btn {
  border: 1px solid var(--monochromatic-1);
  pointer-events: auto;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #3898ec00;
  border-radius: 20px;
  margin-right: 0;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  transition: opacity .2s, background-color .5s cubic-bezier(.789, .159, .25, 1);
  display: inline-block;
}

.contact-btn:hover {
  outline-offset: 0px;
  outline: 3px #fff;
}

.timezone-wrapper {
  color: var(--white);
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
}

.image-9, .image-10 {
  width: 500px;
}

.use-cases {
  background-image: radial-gradient(circle, #ffffff1a, #000 52%);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 11vh;
  padding-bottom: 5vh;
  display: flex;
}

.case-card {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-top: 30px;
  text-decoration: none;
  display: flex;
}

.case-subheadl {
  color: var(--monochromatic-1);
  font-size: 14px;
}

.case-subhead {
  color: var(--lighter-gray);
  font-size: 23px;
  line-height: 30px;
  text-decoration: none;
}

.case-image-wrapper {
  border-radius: 10px;
  width: 250px;
  overflow: clip;
}

.grid {
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  grid-template-columns: 1fr 1fr 1fr;
}

.end-content {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.pre-footer {
  background-image: radial-gradient(circle, #509eb829, #000 47%);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  margin-top: 0;
  padding-top: 11vh;
  padding-bottom: 103px;
  display: flex;
}

.btn-div--end {
  grid-column-gap: 33px;
  grid-row-gap: 33px;
  justify-content: space-between;
  display: flex;
}

.heading-3-copy {
  font-weight: 300;
}

.gitlink {
  color: var(--monochromatic-1);
  transition: color .275s;
}

.gitlink:hover {
  color: var(--blue-violet);
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 34px;
    line-height: 44px;
  }

  h3 {
    font-size: 20px;
    line-height: 32px;
  }

  .section.center {
    flex-direction: column;
    height: auto;
    padding-top: 15vh;
  }

  .nav-section {
    padding-left: 0;
    padding-right: 0;
  }

  .nav, .nav-inner {
    width: 100vw;
  }

  .wrapper {
    align-self: center;
    width: 90%;
  }

  .nav-link {
    padding-top: 20px;
  }

  .nav-link:hover {
    box-shadow: none;
  }

  .hero-image {
    width: 70%;
    height: auto;
    margin-bottom: 7vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    inset: auto 0 0;
  }

  .hero-content {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .feature-wrap {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-subhead {
    font-size: 24px;
    line-height: 31px;
  }

  .menu-icon {
    color: #fff;
    font-size: 40px;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .nav-menu-2 {
    background-color: #000;
    min-width: 240px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .brand {
    padding-left: 18px;
  }

  .heading-3 {
    font-size: 8vw;
  }

  .testimonial {
    height: auto;
  }

  .customers-wrapper {
    width: auto;
    height: auto;
  }

  .testimontal-text {
    width: 90%;
  }

  .services-parag {
    width: 500px;
    height: auto;
    margin-top: 21px;
  }

  .services {
    height: auto;
  }

  .services-wrapper {
    flex-flow: column;
    width: auto;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-text {
    max-width: 200px;
  }

  .services-head, .services-subhead {
    width: 90%;
  }

  .tab-wrapper {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column-reverse;
  }

  .agents-tabs {
    justify-content: space-between;
    align-items: center;
  }

  .tabs-menu, .tab-image-wrapper {
    width: 500px;
    margin-bottom: 0;
  }

  .media-top-wrapper {
    width: 500px;
    margin-left: 0;
  }

  .agents-top-wrapper {
    width: 500px;
    margin-left: 0;
    margin-right: 0;
  }

  .media-tabs {
    justify-content: space-between;
    align-items: center;
  }

  .tab-wrappe-img {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
  }

  .use-cases {
    height: auto;
  }

  .case-card {
    width: 300px;
  }

  .grid {
    grid-column-gap: 47px;
    grid-row-gap: 47px;
    grid-template-columns: 1fr 1fr;
  }

  .end-content {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .pre-footer {
    background-image: radial-gradient(circle, #509eb829, #000 50%);
    height: auto;
  }

  .heading-3-copy {
    font-size: 8vw;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .wrap {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
  }

  .hero-image {
    margin-bottom: 10vw;
  }

  .hero-content {
    margin-bottom: 5vh;
  }

  .feature-wrap {
    flex-direction: row;
  }

  .footer-link {
    margin-bottom: 10px;
    display: inline-block;
  }

  .menu-icon {
    font-size: 30px;
  }

  .services-parag, .tabs-menu {
    width: 420px;
  }

  .tab-image-wrapper {
    width: 420px;
    margin-top: 17px;
  }

  .media-top-wrapper, .agents-top-wrapper {
    width: 420px;
  }

  .use-cases {
    margin-bottom: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .case-card {
    width: 250px;
  }

  .case-subhead {
    font-size: 20px;
  }

  .grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding-left: 0;
    padding-right: 0;
  }

  .end-content {
    margin-bottom: 5vh;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  h3 {
    font-size: 16px;
  }

  .section.center {
    padding-bottom: 10vh;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .nav-section, .nav {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .nav-inner {
    width: 100vw;
  }

  .feature-content {
    width: auto;
  }

  .wrap {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .hero-image {
    width: 80%;
  }

  .services-title.heading {
    max-width: 100%;
    font-size: 7vw;
    line-height: 8vw;
  }

  .hero-content {
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .feature-wrap, .feature-wrap.reverse {
    flex-direction: column;
  }

  .hero-subhead {
    max-width: 90%;
  }

  .brand {
    padding-left: 0;
  }

  .heading-3 {
    white-space: nowrap;
    max-width: 90%;
    font-size: 11vw;
    line-height: 56px;
  }

  .testimonial-text {
    max-width: 90%;
    font-size: 18px;
    line-height: 35px;
  }

  .customers-wrapper {
    margin-top: 26px;
    margin-bottom: 26px;
    padding: 17px 15px;
  }

  .testimontal-text {
    width: 100%;
    font-size: 16px;
    line-height: 30px;
  }

  .services-parag {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  .services {
    background-image: radial-gradient(circle closest-corner, #5095b82e, #000);
  }

  .services-wrapper {
    height: 720px;
    padding: 24px 21px;
    overflow: visible;
  }

  .footer-text {
    max-width: 120px;
    font-size: 12px;
    line-height: 15px;
  }

  .services-head {
    width: 100%;
    font-size: 25px;
  }

  .services-subhead {
    width: 100%;
    font-size: 18px;
  }

  .tabs-menu {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .tab-image-wrapper, .media-top-wrapper {
    width: 100%;
  }

  .tab-button {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
  }

  .tab-button.w--current {
    text-align: center;
    padding: 5px 10px;
  }

  .agents-top-wrapper {
    width: 100%;
  }

  .cloud-top {
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    line-height: 25px;
  }

  .services-btn {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
  }

  .btn-div {
    justify-content: space-between;
    align-items: center;
  }

  .contact-btn {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
  }

  .timezone-wrapper {
    justify-content: space-around;
    font-size: 15px;
  }

  .use-cases {
    padding-top: 8vh;
    padding-bottom: 2vh;
  }

  .cloud-text {
    letter-spacing: 2px;
  }

  .case-card {
    width: 300px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .end-content {
    justify-content: space-between;
    align-items: center;
  }

  .pre-footer {
    background-image: radial-gradient(circle, #509eb829, #000);
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .text-block-4 {
    white-space: pre-line;
  }

  .btn-div--end {
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }

  .heading-3-copy {
    white-space: nowrap;
    max-width: 90%;
    font-size: 11vw;
    line-height: 56px;
  }
}

<<<<<<< HEAD
=======
#w-node-c4c41e36-5a5c-30f5-4f18-497c5317ab33-61b799b9, #w-node-_0e1a0175-6c10-4027-7868-3530600115b1-61b799b9, #w-node-d57c20c3-16f0-2440-1023-a4b254d24e48-61b799b9, #w-node-c4c41e36-5a5c-30f5-4f18-497c5317ab36-61b799b9 {
  place-self: center end;
}

#email-2.w-node-dc066b25-c74c-b974-d1d6-8bba2844dc2f-61b799b9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f5fb2b9a-d1fd-4d3c-e745-935143ea94de-61b799b9 {
  place-self: center end;
}

#Phone.w-node-_8d024455-180a-fa2e-e56a-e182211833b3-61b799b9 {
  align-self: center;
}

#w-node-_57a5d6ad-5454-a8de-9d0a-9ddda74270fe-61b799b9 {
  place-self: start end;
}

#w-node-c4c41e36-5a5c-30f5-4f18-497c5317ab39-61b799b9 {
  grid-area: 7 / 2 / 8 / 2;
}

>>>>>>> c5aa77a99b561742c04ed16a740e2724d5c88ea8

@font-face {
  font-family: 'Spacemono';
  src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spacemono';
  src: url('../fonts/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Spacemono';
  src: url('../fonts/SpaceMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-ExtralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}